<!--
  Generated template for the MyWineFormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Crea tú propio vino </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="card-background-page">
  <ion-card>
    <ion-card-header>
      ¿Cómo quiere seleccionar su vino?
    </ion-card-header>
    <ion-card-content>
      <ion-list inset>
        <button ion-item *ngFor="let select of selects" [disabled]="select.value" (click)="seleccionar(select)">
          {{select.nombre}}
        </button>
      </ion-list>
      <ion-list >
        <ion-item *ngIf="form.uva" >Uva: {{form.uva}}</ion-item>
        <ion-item *ngIf="form.tipo_bar">Barrica: {{form.tipo_bar}}</ion-item>
        <ion-item *ngIf="form.tostado">Tostado: {{form.tostado}}</ion-item>
        <ion-item *ngIf="form.bodega_id">Bodega: {{bodega['nombre']}}</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <br>
  <ion-card *ngIf="selects[0].select && !selects[0].value">
    <ion-card-content>
      <ion-list radio-group name="uvas">
        <ion-list-header>Seleccione su Uva:</ion-list-header>
        <ion-item *ngFor="let uva of uvas">
          <ion-label>{{uva}}</ion-label>
          <ion-radio   value="{{uva}}" (click)=setUva(uva)></ion-radio>
          <!-- <button ion-button clear item-end (click)="uvaDetail(uva)">Detalles</button> -->
        </ion-item>
        <ion-item>
          <button ion-button clear item-end (click)="uvasDetail()">Más información sobre las uvas</button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="selects[1].select && !selects[1].value">
    <ion-card-content>
      <ion-list radio-group *ngIf="selects[1].select" name="barricas">
        <ion-list-header>Seleccione su barrica:</ion-list-header>
        <ion-item *ngFor="let barrica of tipo_barrs">
          <ion-label>{{barrica}}</ion-label>
          <ion-radio value="{{barrica}}" (click)=setBarrica(barrica)></ion-radio>
          <!-- <button ion-button clear item-end (click)="uvaDetail(uva)">Detalles</button> -->
        </ion-item>
      </ion-list>
      <br>
      <ion-list radio-group *ngIf="selects[1].select && form.tipo_bar" name="tostado">
        <ion-list-header>Seleccione su tostado:</ion-list-header>
        <ion-item *ngFor="let tostado of tostados">
          <ion-label>{{tostado}}</ion-label>
          <ion-radio value="{{tostado}}" (click)=setTostado(tostado)></ion-radio>
          <!-- <button ion-button clear item-end (click)="uvaDetail(uva)">Detalles</button> -->
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="selects[2].select && !selects[2].value">
    <ion-card-content>
      <ion-list radio-group name="bodegas">
        <ion-list-header>Seleccione su Bodega:</ion-list-header>
        <ion-item *ngFor="let bodega of bodegas">
          <ion-avatar item-start>
            <img src="http://byw.from-tn.com/pwm/storage/{{bodega.logo}}">
          </ion-avatar>
          <ion-label>
            {{bodega.nombre}}
          </ion-label>
          <ion-radio value="{{bodega}}" (click)="setBodega(bodega)"></ion-radio>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <button ion-button color="primary" (click)="onSubmit(form)" block>Crear tu vino</button>
  <button ion-button color="light" (click)="cancelar()" block>Cancelar</button>
</ion-content>
