page-user {
    ion-content {
        padding-top: 40px;
        padding-bottom: 40px;
        background-image: url(../assets/img/fondo.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: #fff;
        background-position-x: 50%;
        
      }
      .barril{
        height: 144px;
        width: 144px;
        background-image: url(../assets/img/barril.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: unset;
        background-size: contain;
        .barril-p{
          color: #fff;
          font-size: 1.5rem;
          margin-left: 45px;
          padding-top: 25px;

        }
      }
      
      .justified {
        text-align: justify !important;
        text-justify: inter-word !important;
      }
    
    .bar-buttons,
      .toolbar-title {
        color: #fff;
        margin-top: -22px;
      }
      button.menu{
        margin-top: 40px;
        margin-left: -4px;
        background: url(../assets/img/menu.png) repeat transparent;
        background-size: 55%;
        background-repeat: no-repeat;
        width: 25px;
        height: 50px;
        color: #fff;
      }
}
