<!--
  Generated template for the ProductorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{productor.nombre}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="fondo" padding>
  <ion-slides pager>

    <ion-slide>
      <ion-card>
        <ion-card-header>
          <strong>Filosofia:</strong>
        </ion-card-header>
        <ion-card-content>
          {{productor.filosofia}}
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide *ngIf="productor.distinciones">
      <ion-card>
        <ion-card-header>
          <strong>Distinciones:</strong>
        </ion-card-header>
        <ion-card-content>
          {{productor.distinciones}}
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-header>
          <strong>Año de inicio:</strong>
        </ion-card-header>
        <ion-card-content>
          {{productor.inicio}}
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide *ngIf="productor.enologo">
      <ion-card>
        <ion-card-header>
          <strong>Enologo:</strong>
        </ion-card-header>
        <ion-card-content>
          {{productor.enologo}}
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide *ngIf="productor.wine_maker">
      <ion-card>
        <ion-card-header>
          <strong>Wine Maker:</strong>
        </ion-card-header>
        <ion-card-content>
          {{productor.wine_maker}}
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
        <ion-card>
          <ion-card-header>
            <strong>Locación:</strong>
          </ion-card-header>
          <ion-card-content>
            {{productor.locacion}}
            <br>
            <strong>Telefono:</strong> {{productor.telefono}}
            <br>
            <br>
            <button ion-button block color="uva" (click)="openMap()">Mapa</button>
            <!-- <div #map_canvas id="map_canvas" style="height:300px;"></div> -->
          </ion-card-content>
        </ion-card>
      </ion-slide>


  </ion-slides>
</ion-content>
