page-productor {
  ion-content {
    .fondo {
      background-image: url(../assets/img/fondo.jpg) !important;
      padding-top: 0px !important;
      margin-top: 0px !important; // padding-top: 40px;
      // padding-bottom: 40px;
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      background-color: #fff;
      background-position-x: 50%;
    }
    
    ion-img {
        display: inline-block;
        margin-top:20px;
        min-width: 20px;
        min-height: 20px;
        background: rgba(255, 255, 255, 0);
        contain: strict;
    }
    background-image: url(../assets/img/fondo.jpg) !important;
    padding-top: 0px !important;
    margin-top: 0px !important; // padding-top: 40px;
    // padding-bottom: 40px;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #fff;
    background-position-x: 50%;
    ion-slides {
      ion-card {
        ion-card-header {
          display: block;
          overflow: hidden;
          word-wrap: break-word !important;
          text-overflow: ellipsis;
          white-space: inherit;
        }
      }
      margin-top: -30px;
    }
    button {
      bottom: 10px;
    }
  } // margin-top: 0px !important;
  .card-background-page {
    // margin-top: 0px !important;
    ion-card {
      position: relative;
      text-align: center;
      img {
        filter: brightness(0.50);
      }
    }
  }
  .bar-button {
    color: #fff;
  }
  .bar-buttons,
  .toolbar-title {
    color: #fff; // margin-top: -22px;
  }
}